# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
core/
modules/
!modules/media_entity
profiles/lightning
themes/bootstrap
sites/default/files



# Ignore Composer-managed dependencies.
vendor/
settings.php
sites/bellcom_aug_2017.dd
sites/new-bellcom-aug.dd
sites/*.dd
email
.idea
.DS_Store
