
<!---- Fixed Contact Box ---->

<div class="contact-box">
<div class="contact-box-label">
    <a>{{ 'Contact'|t }} <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
</div>
<div class="contact-box-content">
     <dd>{{ drupal_block('contactblock') }}</dd>
</div>
</div>

<!--- End of Fixed Contact Box -->

